{% extends 'main.html'%}

{% block bodymainPage %}

<!-- Section: Design Block -->
<section class="my-5 text-center">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
        background-image: url('https://cdn.pixabay.com/photo/2020/05/20/12/27/banner-5196281_960_720.jpg');
        height: 300px;
        "></div>
  <!-- TODO Background image mettre la bleu de romane trop stylée -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Inscription</h2>
          <form method="post" action=".">
            {% csrf_token %}
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="text" name="Prenom" id="form3Example1" class="form-control" />
                  <label class="form-label" for="form3Example1">Prénom</label>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="text" name="Nom" id="form3Example2" class="form-control" />
                  <label class="form-label" for="form3Example2">Nom</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="text" name="Pseudo" class="form-control" />
                  <label class="form-label" for="form3Example1">Pseudo</label>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="text" name="Ecole" class="form-control" />
                  <label class="form-label" for="form3Example2">Ecole</label>
                </div>
              </div>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" name="mail" id="form3Example3" class="form-control" />
              <label class="form-label" for="form3Example3">Email (mettre son adresse d'école12)</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" name="mdp1" id="form3Example4" class="form-control" />
              <label class="form-label" for="form3Example4">Mot de Passe</label>
            </div>
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" name="mdp2" class="form-control" />
              <label class="form-label" for="form3Example4">Confirmation de Mot de Passe</label>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">
              Sign up
            </button>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->

{% endblock %}
