{% extends 'main.html'%}

{% load static %}
{% block head %}
    <!--<link rel="stylesheet" type="text/sass" href="{% static 'home/css/cours.sass' %}">-->

<!--Tinymce Text-Editor (Must be in Head Tag) -->
  <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
<script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
    });
  </script>
{% endblock %}

{% block bodymainPage %}
<section>
  </br></br>
</section>
<section class="my-5 container">
    {% url 'AdminFormation_urlpattern_name' as url %}
    <a href="{{url}}" type="button" class="btn btn-primary">Retourner sur le DashBoard Formation</a>
</section>
<section class="my-5">
  <form method="post" action="." enctype="multipart/form-data">
      {% csrf_token %}
    <div class="container">
      <div class="card">
        <div class="card-header">
          Ajouter une formation
        </div>
        <div class="card-body">
          <h5 class="card-title">Ajouter une formation</h5>
          <div class="form-floating mb-3">
            <div class="row g-2">
              <div class="col-md">
                <div class="form-floating">
                  <input type="text" step="any" class="form-control" name="NomFormation" required>
                  <label for="floatingInputGrid">Nom Formation</label>
                </div>
              </div>
              <div class="col-md">
                <div class="form-floating">
                  <input type="text" step="any" class="form-control" name="Description" required>
                  <label for="floatingInputGrid">Description</label>
                </div>
              </div>
              <div class="col-md">
                <div class="form-floating">
                  <input type="text" step="any" class="form-control" name="Duree" required>
                  <label for="floatingInputGrid">Durée</label>
                </div>
              </div>
            </div>
            <div class="row g-2">
              <div class="col-md">
                <div class="form-floating">
                  <div class="mb-3">
                    <label for="formFileDisabled" class="form-label">Formation</label>
                    <textarea name="FormationDocument" ></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="row g-2">
              <div class="col-md">
                <div class="form-floating">
                  <div class="mb-3">
                    <label for="formFileDisabled" class="form-label">Questionnaire</label>
                    <textarea name="Questionnaire"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-success">Valider</button>
        </div>
      </div>
    </div>
  </form>
</section>

{% endblock %}
