{% extends 'main.html'%}

{% block bodymainPage %}
<section>
    </br></br></br>
</section>
<section class="container">
    </br>
    <a src="#" type="button" class="btn btn-primary">Voir la partie admin des formations</a>
    </br></br>
</section>
<section>
    <div class="container">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nom Formation</th>
              <th scope="col">Durée de la Formation</th>
              <th scope="col">Formation validée</th>
              <th scope="col">Voir Formation</th>
            </tr>
          </thead>
          <tbody>
            {% for ... in ... %}
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><a type="button" class="btn btn-outline-warning">Warning</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</section>
{% endblock %}
