{% extends 'main.html'%}

{% block bodymainPage %}
<section>
    </br></br></br>
</section>
{% if infomembre.role == "Bureau" %}
<section class="container">
    </br>
    {% url 'AdminFormation_urlpattern_name' as url %}
    <a href="{{url}}" type="button" class="btn btn-primary">Voir la partie admin des formations</a>
    </br></br>
</section>
{% endif %}
<section>
    <div class="container">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nom Formation</th>
              <th scope="col">Durée de la Formation</th>
              <th scope="col">Formation validée</th>
              <th scope="col">Voir Formation</th>
            </tr>
          </thead>
          <tbody>
            {% for FormationValidee in FormationsValidee %}
              <tr>
                <td>{{FormationValidee.id}}</td>
                <td>{{FormationValidee.NomCertificat}}</td>
                <td>{{FormationValidee.Duree}}</td>
                <td>Validée</td>
                <td><a href="#" type="button" class="btn btn-outline-warning">Voir la Formation</a></td>
              </tr>
            {% endfor %}
            {% for FormationEnCoursValide in FormationsEnCoursValide %}
              <tr>
                <td>{{FormationEnCoursValide.id}}</td>
                <td>{{FormationEnCoursValide.NomCertificat}}</td>
                <td>{{FormationEnCoursValide.Duree}}</td>
                <td>En Cours de Validation</td>
                <td><a href="#" type="button" class="btn btn-outline-warning">Voir la Formation</a></td>
              </tr>
            {% endfor %}
            {% for FormationDisponible in FormationsDisponibles %}
              <tr>
                <td>{{FormationDisponible.id}}</td>
                <td>{{FormationDisponible.NomCertificat}}</td>
                <td>{{FormationDisponible.Duree}}</td>
                <td></td>
                <td><a href="../FormationView/{{FormationDisponible.id}}" type="button" class="btn btn-outline-warning">Voir la Formation</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</section>
{% endblock %}
