{% extends 'main.html'%}

{% block bodymainPage %}
<section>
    </br></br></br></br>
</section>
<div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Nom Certificat</th>
          <th scope="col">Duree</th>
          <th scope="col">Lien Formation</th>
          <th scope="col">Lien Questionnaire</th>
        </tr>
      </thead>
      <tbody>
      {% for certificat in PersoneAvecCertificat %}
        <tr>
          <td>{{certificat.id}}</td>
          <td>{{certificat.NomCertificat}}</td>
          <td>{{certificat.Duree}}</td>
          <td>{{certificat.LienFormationEcrite}}</td>
          <td>{{certificat.LienQuestionnaire}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}
