{% extends 'main.html'%}

{% block bodymainPage %}



<main>

{% include 'base/banniere.html' %}

<section class="m-5 text-center">
    <h2 class="CouleurJauneINTech">Nos Evénements</h2>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        {% for evenement in EvenementsViews %}
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">{{evenement.TitreEvenement}}</h2>
                <p class="lead">{{evenement.Description}}</p>
              </div>
              <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="/import/{{evenement.Image}}">
              </div>
            </div>
            <hr class="featurette-divider">
        {% endfor %}
    </div>
</div>

{% endblock %}
